node_modules/

*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

playwright-report/
test-results/
.trace/
*.zip

.DS_Store
Thumbs.db

dist/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.idea/
.vscode/

.vitest/
coverage/
